/*
---
name: Peparbon
library:
  - Peparbon
---

Peparbon is Pepagis mixin library for Sass.
Source: https://github.com/thoughtbot/bourbon

### ライブラリ構成

_core/
├── peparbon/
│   ├── functions/
│   │   ├── _pe-color.scss
│   │   └── ...
│   ├── helpers/
│   │   └── ...
│   ├── css3/
│   │   ├── _pe-animation.scss
│   │   └── ...
│   │── addons/
│   │   ├── _pe-clearfix.scss
│   │   └──  ...
│   │─ _variables.scss
│   └─ _peparbon.scss
└── _core.scss
```

#### peparbon/variables

* グローバル変数の定義。
* グローバル変数名には、必ず `pe-` プレフィックスを付ける。

#### peparbon/functions/

* 便利機能の `@function` 定義ファイル置き場。
* 基本的に、1 ファイルにつき 1 定義とする。
* `@function 名` は、その機能（役割）に基づく、適切かつ分かりやすい名前にする。
* `@function 名` には `pe-` プレフィックスを付ける（Sass の組み込み関数との衝突を避けるため）。
* `@function` を定義した際は、必ず当ドキュメントを更新する。

#### peparbon/helpers/

* ライブラリ内でのみ使用する事を想定とした Helper 関数置き場。
* 基本的に、1 ファイルにつき 1 定義とする。
* `@function 名` は、その機能（役割）に基づく、適切かつ分かりやすい名前にする。
* `@function 名` には アンダーバー `_` プレフィックスを付ける。
* `@function` を定義した際は、必ず当ドキュメントを更新する。

#### peparbon/css3/

* CSS 3（ベンダープレフィックス対応）の `@mixin` 集。
* `CSS プロパティ名` にベンダープレフィックスが付く場合
    * `@mixin 名` は `CSS プロパティ名` と同名にする。
    * `@mixin 引数値` は `CSS プロパティ値` と同機能にする。
* `@mixin` を定義した際は、必ず当ドキュメントを更新する。
* ドキュメントには（`@mixin` を使用した上での）ターゲットブラウザの対応状況を明記する。

#### peparbon/addons/

* CSS 3（ベンダープレフィックス対応）の `@mixin` 以外の `@mixin` 定義ファイル置き場。
* 基本的に、1 ファイルにつき 1 定義とする。
* `@mixin 名` は、その機能（役割）に基づく、適切かつ分かりやすい名前にする。
* ライブラリの `@mixin 名` と、各プロジェクトの `@mixin 名` が衝突しないよう気をつける。
* `@mixin` を定義した際は、必ず当ドキュメントを更新する。

*/
@import "_variables";

/*
---
name: Functions
library:
  - Peparbon/Functions
---
*/
@import "functions/_pe-ceil-decimal";
@import "functions/_pe-color";
@import "functions/_pe-root-font-size";

/*
---
name: Helpers
library:
  - Peparbon/Helpers
---
*/
@import "helpers/_pe-convert-units";
@import "helpers/_pe-linear-angle-parser";
@import "helpers/_pe-linear-gradient-parser";
@import "helpers/_pe-linear-positions-parser";
@import "helpers/_pe-linear-side-corner-parser";
@import "helpers/_pe-position-flipper";
@import "helpers/_pe-prefixer";
@import "helpers/_pe-radial-arg-parser";
@import "helpers/_pe-radial-gradient-parser";
@import "helpers/_pe-shape-size-stripper";
@import "helpers/_pe-str-to-num";

/*
---
name: CSS3
library:
  - Peparbon/CSS3
---
*/
@import "css3/_pe-animation";
@import "css3/_pe-appearance";
@import "css3/_pe-background-image";
@import "css3/_pe-background-size";
@import "css3/_pe-box-shadow";
@import "css3/_pe-box-sizing";
@import "css3/_pe-calc";
@import "css3/_pe-columns";
@import "css3/_pe-filter";
@import "css3/_pe-keyframes";
@import "css3/_pe-linear-gradient";
@import "css3/_pe-media-query-hidpi";
@import "css3/_pe-placeholder";
@import "css3/_pe-radial-gradient";
@import "css3/_pe-transform";
@import "css3/_pe-transition";
@import "css3/_pe-user-select";

/*
---
name: Add-ons
library:
  - Peparbon/Add-ons
---
*/
@import "addons/_pe-base";
@import "addons/_pe-clearfix";
@import "addons/_pe-glyph";
@import "addons/_pe-triangle";
@import "addons/_pe-webfont";
