/*doc
---
title    : ol-contents
parent   : layouts
name     : ol-contents
category : layouts
---

必ず `ol-container` の中に `ol-contents` を入れる（`ol-contents` を `ol-container` で包括する）。  
コンテンツ（コンポーネント）は、 `ol-contents` の中に入れる。

```html_example:.ol-container
<div class="sg-sample-body">
  <div class="ol-container">
    <div class="ol-contents">
      <div class="sg-sample-body__contents">
        コンテンツ（コンポーネント）を中に入れる。
      </div>
    </div>
  </div>
</div>
```

```slim
.ol-container
  .ol-contents
    | コンテンツ（コンポーネント）を中に入れる。
```

980px の固定幅の場合は `ol-container` に `ol-contents--fixed` を付与。

```html_example:.ol-contents.ol-contents--fixed
<div class="sg-sample-body">
  <div class="ol-container">
    <div class="ol-contents ol-contents--fixed">
      <div class="sg-sample-body__contents">
        コンテンツ（コンポーネント）を中に入れる。
      </div>
    </div>
  </div>
</div>
```

```slim
.ol-container
  .ol-contents.ol-contents--fixed
    | コンテンツ（コンポーネント）を中に入れる。
```

*/

.ol-contents {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  min-width: 980px;
  @include box-sizing(border-box);
  @include clearfix;
  
  &#{&}--fixed {
    padding-right: 0;
    padding-left: 0;
    width: 980px;
  }
}


// ==================================================
// ■ 以下、移行時の互換用（置き換えたら消す）
// ==================================================
/* wrapper
================================================== */
.wrapper {
  width: 100%;
  min-width: 950px;
  color: #333333;
  background-color: #ffffff;
}
#wrapper {
  width: 100%;
  min-width: 950px;
  background-color: #ffffff;
}
