/*doc
---
title    : ol-container
parent   : layouts
name     : ol-container
category : layouts
---

`ol-container` については、下記の `ol-contents` を参照。

*/

.ol-container {
  width: 100%;
  min-width: 980px;
  @include box-sizing(border-box);
  &#{&}--mat {
    @include rem(padding-bottom, 30px);
    background-color: $g-color--white;
  }
}

// ==================================================
// ■ 以下、移行時の互換用（置き換えたら消す）
// ==================================================
#container {
  position: relative;
  z-index: 1;
  margin-top: -1px;
  padding: 1px 0 20px;
  background-color: #ffffff;
}
#owner-container {
  margin: 0 auto;
  padding: 0;
  width: 950px;
  min-width: 950px;
  overflow: hidden;
  text-align: left;
}
/* owner-container
================================================== */
.layout-owner-main {
  float: right;
  width: 730px;
}
#owner-container .layout-owner-main {
  float: right;
  width: 730px;
}
#owner-container .layout-owner-side {
  float: left;
  width: 200px;
}
