/*
---
name     : c-badge
category :
  - Objects/Components
  - Objects/Components/c-badge
tag:
  - badge
---

```html
<span class="c-badge">1</span>
<span class="c-badge c-badge--primary">2</span>
<span class="c-badge c-badge--info">4</span>
<span class="c-badge c-badge--danger">5</span>
```

### disabled

```html
<span class="c-badge is-disabled">1</span>
<span class="c-badge c-badge--primary is-disabled">2</span>
<span class="c-badge c-badge--info is-disabled">4</span>
<span class="c-badge c-badge--danger is-disabled">5</span>
```

### circle

```html
<span class="c-badge c-badge--circle">1</span>
<span class="c-badge c-badge--circle c-badge--primary">2</span>
<span class="c-badge c-badge--circle c-badge--info">4</span>
<span class="c-badge c-badge--circle c-badge--danger">5</span>
```

```html
<span class="c-badge c-badge--circle is-disabled">1</span>
<span class="c-badge c-badge--circle c-badge--primary is-disabled">2</span>
<span class="c-badge c-badge--circle c-badge--info is-disabled">4</span>
<span class="c-badge c-badge--circle c-badge--danger is-disabled">5</span>
```

*/

.c-badge {
  $background-color : map-get($g-oc-colors, default--base);
  
  display: inline-block;
  border-radius: $g-border-radius--badge;
  min-width: 1em;
  min-height: 1em;
  color: $g-color--white;
  text-align: center;
  line-height: 1;
  background-color: $background-color;
  
  @include rem(padding, 3px);
  @include rem(font-size, 11px);
  @include box-shadow(0 0 0 1.5px $g-color--white);
  
  &.is-disabled {
    background-color: rgba(desaturate($background-color, 20%), 0.2);
  }
  
  // modifiers
  $modifiers: primary, info, danger;
  @each $modifier in $modifiers {
    &#{&}--#{$modifier} {
      $background-color : map-get($g-oc-colors, #{$modifier}--base);
      
      background-color : $background-color;
      
      &.is-disabled {
        background-color: rgba(desaturate($background-color, 20%), 0.2);
      }
    }
  }
  
  // modifier(circle)
  &#{&}--circle {
    @include rem(border-radius, 12px);
  }
}
