/*
---
name: pe-user-select()
library:
  - Peparbon/CSS3
  - Peparbon/CSS3/pe-user-select()
---

| IE    | Chrome | Firefox | Safari | Opera  | iOS   | Android | Can I use                                                          |
| ----- | ------ | ------- | ------ | ------ | ----- | ------- | ------------------------------------------------------------------ |
| `10`  | `OK`   | `2`     | `3.1`  | `15`   | `3.2` | `2.1`   | [CSS user-select: none](http://caniuse.com/#feat=user-select-none) |

| @mixin 名                  | @mixin 引数値              | 備考 |
| -------------------------- | -------------------------- | ---- |
| `CSS プロパティ名` と 同じ | `CSS プロパティ値` と 同じ | -    |

```scss
@mixin pe-user-select($value: none) {
  ...
}
```

```scss
.class-name {
  @include pe-user-select;
}
```

```css
.class-name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
```

*/

@mixin pe-user-select($value: none) {
  @include _pe-prefixer(user-select, $value, webkit moz ms spec);
}
