/*
---
name: Colors
framework:
  - Project-SHO/Colors
---

```html
<ul class="pepagis-colors pepagis-clearfix">
  <li class="pepagis-colors__item u-color--default-base"></li>
  <li class="pepagis-colors__item u-color--default-light"></li>
  <li class="pepagis-colors__item u-color--default-dark"></li>

  <li class="pepagis-colors__item u-color--success-base"></li>
  <li class="pepagis-colors__item u-color--success-light"></li>
  <li class="pepagis-colors__item u-color--success-dark"></li>

  <li class="pepagis-colors__item u-color--info-base"></li>
  <li class="pepagis-colors__item u-color--info-light"></li>
  <li class="pepagis-colors__item u-color--info-dark"></li>

  <li class="pepagis-colors__item u-color--warning-base"></li>
  <li class="pepagis-colors__item u-color--warning-light"></li>
  <li class="pepagis-colors__item u-color--warning-dark"></li>

  <li class="pepagis-colors__item u-color--danger-base"></li>
  <li class="pepagis-colors__item u-color--danger-light"></li>
  <li class="pepagis-colors__item u-color--danger-dark"></li>

  <li class="pepagis-colors__item u-color--normal-base"></li>
  <li class="pepagis-colors__item u-color--normal-light"></li>
  <li class="pepagis-colors__item u-color--normal-dark"></li>
</ul>
```

*/  

// color
// ==================================================
$g-color-white : #fff;
$g-color-black : #343e45;

$g-default-color : #343e45;
$g-success-color : #56bda3;
$g-info-color    : #4ab8bd;
$g-warning-color : #f2c056;
$g-danger-color  : #f25670;

$g-link-color  : #4ab8bd;
$g-hover-color : pe-color(default);
$g-text-color  : pe-color(default, dark);
$g-key-color   : pe-color(default);

$g-body-bg-color : $g-color-white;

// color-palettes
// ==================================================
$g-color-palettes : (
  default: (
    base  : $g-default-color,
    light : lighten($g-default-color, 10%),
    dark  : darken($g-default-color, 5%),
  ),
  success: (
    base  : $g-success-color,
    light : lighten($g-success-color, 10%),
    dark  : darken($g-success-color, 5%),
  ),
  info: (
    base  : $g-info-color,
    light : lighten($g-info-color, 10%),
    dark  : darken($g-info-color, 5%),
  ),
  warning: (
    base  : $g-warning-color,
    light : lighten($g-warning-color, 10%),
    dark  : darken($g-warning-color, 5%),
  ),
  danger: (
    base  : $g-danger-color,
    light : lighten($g-danger-color, 10%),
    dark  : darken($g-danger-color, 5%),
  ),
);

@each $color-type, $color-tones in $g-color-palettes {
  @each $color-tone, $color-code in $color-tones {
    .u-color-- {
      &#{$color-type}-#{$color-tone} {
        border-left: 20px solid $color-code;
        border-radius: 20px 0 0 20px;

        // カラーコードをrgbaに変換
        $rgba-code: rgba($color-code, 0.99);
        
        // rgbaを文字列に変換し、rgbを抜き出し
        // $alpha-index: str-index('#{$rgba-code}', ', 0.99');
        // $rgb: str-slice('#{$rgba-code}', 6, $alpha-index - 1);
              
        
        &::before {
          display: block;
          padding: 8px 10px;
          // color: $color-code;
          border-bottom: 1px solid $color-code;
          content: "pe-color(#{$color-type}, #{$color-tone})";
        }
        &::after {
          padding: 8px 10px;
          display: block;
          color: $color-code;
          content: "#{$color-code} (#{$rgba-code})";
        }
      }
    }
  }
}


