/*
---
name: Colors
framework:
  - Project-SHO/Foundation
  - Project-SHO/Foundation/Colors
---

```html
<ul class="pepagis-colors pepagis-clearfix">
  <li class="pepagis-colors__item pepagis-color-default-base"></li>
  <li class="pepagis-colors__item pepagis-color-default-light"></li>
  <li class="pepagis-colors__item pepagis-color-default-dark"></li>

  <li class="pepagis-colors__item pepagis-color-success-base"></li>
  <li class="pepagis-colors__item pepagis-color-success-light"></li>
  <li class="pepagis-colors__item pepagis-color-success-dark"></li>

  <li class="pepagis-colors__item pepagis-color-info-base"></li>
  <li class="pepagis-colors__item pepagis-color-info-light"></li>
  <li class="pepagis-colors__item pepagis-color-info-dark"></li>

  <li class="pepagis-colors__item pepagis-color-warning-base"></li>
  <li class="pepagis-colors__item pepagis-color-warning-light"></li>
  <li class="pepagis-colors__item pepagis-color-warning-dark"></li>

  <li class="pepagis-colors__item pepagis-color-danger-base"></li>
  <li class="pepagis-colors__item pepagis-color-danger-light"></li>
  <li class="pepagis-colors__item pepagis-color-danger-dark"></li>

  <li class="pepagis-colors__item pepagis-color-gray-base"></li>
  <li class="pepagis-colors__item pepagis-color-gray-light"></li>
  <li class="pepagis-colors__item pepagis-color-gray-dark"></li>
</ul>
```

*/  

// key-color
// ==================================================
$g-color-white : #fff;
$g-color-gray  : #dfe8e8;
$g-color-black : #343e45;

$g-default-color : #343e45;
$g-success-color : #56bda3;
$g-info-color    : #4ab8bd;
$g-warning-color : #f2c056;
$g-danger-color  : #f25670;

// color-palettes
// ==================================================
$g-color-palettes : (
  default: (
    base  : $g-default-color,
    light : lighten($g-default-color, 10%),
    dark  : darken($g-default-color, 5%),
  ),
  success: (
    base  : $g-success-color,
    light : lighten($g-success-color, 10%),
    dark  : darken($g-success-color, 5%),
  ),
  info: (
    base  : $g-info-color,
    light : lighten($g-info-color, 10%),
    dark  : darken($g-info-color, 5%),
  ),
  warning: (
    base  : $g-warning-color,
    light : lighten($g-warning-color, 10%),
    dark  : darken($g-warning-color, 5%),
  ),
  danger: (
    base  : $g-danger-color,
    light : lighten($g-danger-color, 10%),
    dark  : darken($g-danger-color, 5%),
  ),
  gray: (
    base  : $g-color-gray,
    light : lighten($g-color-gray, 6%),
    dark  : darken($g-color-gray, 5%),
  ),
);

// color
// ==================================================

$g-link-color  : #4ab8bd;
$g-hover-color : pe-color(default);
$g-text-color  : pe-color(default, dark);
$g-key-color   : pe-color(default);

$btn-bg-color         : #b1c2c5;
$btn-bg-primary-color : #4a87bd;
$btn-bg-success-color : $g-success-color;
$btn-bg-info-color    : $g-info-color;
$btn-bg-warning-color : $g-warning-color;
$btn-bg-danger-color  : $g-danger-color;

$g-body-bg-color : $g-color-white;

