// ==================================================
// Variables
// ==================================================

// font-family
// ==================================================
$g-font-family-ja  : "Roboto", "Helvetica Neue", Helvetica, Arial, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
$g-font-family-en  : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$g-font-family-num : Arial, sans-serif;

// border-radius
// ==================================================
$g-border-radius : .25em;
