/*
---
name: c-btn
framework:
  - Project-SHO/Objects/Components
  - Project-SHO/Objects/Components/c-btn
---

```html
<button type="button" class="c-btn">デフォルト</button>
<button type="button" class="c-btn c-btn--primary">普通</button>
<button type="button" class="c-btn c-btn--success">更新</button>
<button type="button" class="c-btn c-btn--info">案内</button>
<button type="button" class="c-btn c-btn--warning">注意</button>
<button type="button" class="c-btn c-btn--danger">危険</button>
```

```html
<a href="#" class="c-btn">デフォルト</a>
<a href="#" class="c-btn c-btn--primary">普通</a>
<a href="#" class="c-btn c-btn--success">更新</a>
<a href="#" class="c-btn c-btn--info">案内</a>
<a href="#" class="c-btn c-btn--warning">注意</a>
<a href="#" class="c-btn c-btn--danger">危険</a>
```

*/

.c-btn {
  background-color: $btn-bg-color;
  border-radius: $g-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  font-size: 90%;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  vertical-align: middle;
  &:hover {
    background-color: lighten($btn-bg-color, 10%);
    color: #fff;
    text-decoration: none;
  }

  // modifiers
  &.c-btn--primary {
    background-color: $btn-bg-primary-color;
  }
  &.c-btn--success {
    background-color: $btn-bg-success-color;
  }
  &.c-btn--info {
    background-color: $btn-bg-info-color;
  }
  &.c-btn--warning {
    background-color: $btn-bg-warning-color;
  }
  &.c-btn--danger {
    background-color: $btn-bg-danger-color;
  }
}
