/*doc
---
title    : Color Palettes
name     : _01_palettes
category : index
---

色見本。これらの `16 進数カラーコード` や `10 進数 RGB` を**直接指定する事は禁止**とする。  
※必ずグローバル変数を定義した上で使用する。  
※見本にない色についてはこの限りではない（多用するようであれば、色見本への追加を考える）。

<div class="sg-palettes"></div>

* { sg-palette : white }
* { sg-palette : black }

<div class="sg-palettes"></div>

* { sg-palette : dark-gray--base }
* { sg-palette : dark-gray--dark }
* { sg-palette : dark-gray--light }
* { sg-palette : dark-gray--extra-light }
* { sg-palette : dark-gray--ultra-light }

<div class="sg-palettes"></div>

* { sg-palette : gray--base }
* { sg-palette : gray--dark }
* { sg-palette : gray--light }
* { sg-palette : gray--extra-light }
* { sg-palette : gray--ultra-light }

<div class="sg-palettes"></div>

* { sg-palette : accent-navy }
* { sg-palette : accent-blue }
* { sg-palette : accent-skyblue }
* { sg-palette : accent-green }

<div class="sg-palettes"></div>

* { sg-palette : accent-yellow }
* { sg-palette : accent-orange }
* { sg-palette : accent-red }

<div class="sg-palettes"></div>

* { sg-palette : link-blue }
* { sg-palette : link-orange }

*/
// ==================================================

$g-palettes  : (
  white                  : #ffffff,
  black                  : #000000,

  dark-gray--base        : #333b3f,
  dark-gray--dark        : #1b2023,
  dark-gray--light       : #707578,
  dark-gray--extra-light : #999d9f,
  dark-gray--ultra-light : #adb1b2,
  
  gray--base             : #d6d8d9,
  gray--dark             : #c1c4c5,
  gray--light            : #eaebeb,
  gray--extra-light      : #f1f1f1,
  gray--ultra-light      : #f6f6f6,

  accent-navy            : #273c5c,
  accent-blue            : #2a65a0,
  accent-skyblue         : #1d9fbf,
  accent-green           : #8fb336,
  
  accent-yellow          : #f8cc11,
  accent-orange          : #f2aa0f,
  accent-red             : #e64939,
  
  link-blue              : #0082d0,
  link-orange            : #ff9900
);
