/*
---
name: Webfonts
framework:
  - Project-OSAN/Foundation/Webfonts
template: glyph
---
pe-glyph(feather, fgly, eye);
pe-glyph(feather, fgly, paper-clip);
pe-glyph(feather, fgly, mail);
pe-glyph(feather, fgly, toggle);
pe-glyph(feather, fgly, layout);
pe-glyph(feather, fgly, link);
pe-glyph(feather, fgly, bell);
pe-glyph(feather, fgly, lock);
pe-glyph(feather, fgly, unlock);
pe-glyph(feather, fgly, ribbon);
pe-glyph(feather, fgly, image);
pe-glyph(feather, fgly, signal);
pe-glyph(feather, fgly, target);
pe-glyph(feather, fgly, clipboard);
pe-glyph(feather, fgly, clock);
pe-glyph(feather, fgly, watch);
pe-glyph(feather, fgly, air-play);
pe-glyph(feather, fgly, camera);
pe-glyph(feather, fgly, video);
pe-glyph(feather, fgly, disc);
pe-glyph(feather, fgly, printer);
pe-glyph(feather, fgly, monitor);
pe-glyph(feather, fgly, server);
pe-glyph(feather, fgly, cog);
pe-glyph(feather, fgly, heart);
pe-glyph(feather, fgly, paragraph);
pe-glyph(feather, fgly, align-justify);
pe-glyph(feather, fgly, align-left);
pe-glyph(feather, fgly, align-center);
pe-glyph(feather, fgly, align-right);
pe-glyph(feather, fgly, book);
pe-glyph(feather, fgly, layers);
pe-glyph(feather, fgly, stack);
pe-glyph(feather, fgly, stack-2);
pe-glyph(feather, fgly, paper);
pe-glyph(feather, fgly, paper-stack);
pe-glyph(feather, fgly, search);
pe-glyph(feather, fgly, zoom-in);
pe-glyph(feather, fgly, zoom-out);
pe-glyph(feather, fgly, reply);
pe-glyph(feather, fgly, circle-plus);
pe-glyph(feather, fgly, circle-minus);
pe-glyph(feather, fgly, circle-check);
pe-glyph(feather, fgly, circle-cross);
pe-glyph(feather, fgly, square-plus);
pe-glyph(feather, fgly, square-minus);
pe-glyph(feather, fgly, square-check);
pe-glyph(feather, fgly, square-cross);
pe-glyph(feather, fgly, microphone);
pe-glyph(feather, fgly, record);
pe-glyph(feather, fgly, skip-back);
pe-glyph(feather, fgly, rewind);
pe-glyph(feather, fgly, play);
pe-glyph(feather, fgly, pause);
pe-glyph(feather, fgly, stop);
pe-glyph(feather, fgly, fast-forward);
pe-glyph(feather, fgly, skip-forward);
pe-glyph(feather, fgly, shuffle);
pe-glyph(feather, fgly, repeat);
pe-glyph(feather, fgly, folder);
pe-glyph(feather, fgly, umbrella);
pe-glyph(feather, fgly, moon);
pe-glyph(feather, fgly, thermometer);
pe-glyph(feather, fgly, drop);
pe-glyph(feather, fgly, sun);
pe-glyph(feather, fgly, cloud);
pe-glyph(feather, fgly, cloud-upload);
pe-glyph(feather, fgly, cloud-download);
pe-glyph(feather, fgly, upload);
pe-glyph(feather, fgly, download);
pe-glyph(feather, fgly, location);
pe-glyph(feather, fgly, location-2);
pe-glyph(feather, fgly, map);
pe-glyph(feather, fgly, battery);
pe-glyph(feather, fgly, head);
pe-glyph(feather, fgly, briefcase);
pe-glyph(feather, fgly, speech-bubble);
pe-glyph(feather, fgly, anchor);
pe-glyph(feather, fgly, globe);
pe-glyph(feather, fgly, box);
pe-glyph(feather, fgly, reload);
pe-glyph(feather, fgly, share);
pe-glyph(feather, fgly, marquee);
pe-glyph(feather, fgly, marquee-plus);
pe-glyph(feather, fgly, marquee-minus);
pe-glyph(feather, fgly, tag);
pe-glyph(feather, fgly, power);
pe-glyph(feather, fgly, command);
pe-glyph(feather, fgly, alt);
pe-glyph(feather, fgly, esc);
pe-glyph(feather, fgly, bar-graph);
pe-glyph(feather, fgly, bar-graph-2);
pe-glyph(feather, fgly, pie-graph);
pe-glyph(feather, fgly, star);
pe-glyph(feather, fgly, arrow-left);
pe-glyph(feather, fgly, arrow-right);
pe-glyph(feather, fgly, arrow-up);
pe-glyph(feather, fgly, arrow-down);
pe-glyph(feather, fgly, volume);
pe-glyph(feather, fgly, mute);
pe-glyph(feather, fgly, content-right);
pe-glyph(feather, fgly, content-left);
pe-glyph(feather, fgly, grid);
pe-glyph(feather, fgly, grid-2);
pe-glyph(feather, fgly, columns);
pe-glyph(feather, fgly, loader);
pe-glyph(feather, fgly, bag);
pe-glyph(feather, fgly, ban);
pe-glyph(feather, fgly, flag);
pe-glyph(feather, fgly, trash);
pe-glyph(feather, fgly, expand);
pe-glyph(feather, fgly, contract);
pe-glyph(feather, fgly, maximize);
pe-glyph(feather, fgly, minimize);
pe-glyph(feather, fgly, plus);
pe-glyph(feather, fgly, minus);
pe-glyph(feather, fgly, check);
pe-glyph(feather, fgly, cross);
pe-glyph(feather, fgly, move);
pe-glyph(feather, fgly, delete);
pe-glyph(feather, fgly, menu);
pe-glyph(feather, fgly, archive);
pe-glyph(feather, fgly, inbox);
pe-glyph(feather, fgly, outbox);
pe-glyph(feather, fgly, file);
pe-glyph(feather, fgly, file-add);
pe-glyph(feather, fgly, file-subtract);
pe-glyph(feather, fgly, help);
pe-glyph(feather, fgly, open);
pe-glyph(feather, fgly, ellipsis);

*/

$g-webfonts: (
  feather: (
    name   : "Feather Glyphs",
    file   : "feather-glyphs",
    svgid  : "Feather-Glyphs",
    prefix : "fgly",
    glyphs : (
      eye            : 'f000',
      paper-clip     : 'f001',
      mail           : 'f002',
      toggle         : 'f003',
      layout         : 'f004',
      link           : 'f005',
      bell           : 'f006',
      lock           : 'f007',
      unlock         : 'f008',
      ribbon         : 'f009',
      image          : 'f00a',
      signal         : 'f00b',
      target         : 'f00c',
      clipboard      : 'f00d',
      clock          : 'f00e',
      watch          : 'f00f',
      air-play       : 'f010',
      camera         : 'f011',
      video          : 'f012',
      disc           : 'f013',
      printer        : 'f014',
      monitor        : 'f015',
      server         : 'f016',
      cog            : 'f017',
      heart          : 'f018',
      paragraph      : 'f019',
      align-justify  : 'f01a',
      align-left     : 'f01b',
      align-center   : 'f01c',
      align-right    : 'f01d',
      book           : 'f01e',
      layers         : 'f01f',
      stack          : 'f020',
      stack-2        : 'f021',
      paper          : 'f022',
      paper-stack    : 'f023',
      search         : 'f024',
      zoom-in        : 'f025',
      zoom-out       : 'f026',
      reply          : 'f027',
      circle-plus    : 'f028',
      circle-minus   : 'f029',
      circle-check   : 'f02a',
      circle-cross   : 'f02b',
      square-plus    : 'f02c',
      square-minus   : 'f02d',
      square-check   : 'f02e',
      square-cross   : 'f02f',
      microphone     : 'f030',
      record         : 'f031',
      skip-back      : 'f032',
      rewind         : 'f033',
      play           : 'f034',
      pause          : 'f035',
      stop           : 'f036',
      fast-forward   : 'f037',
      skip-forward   : 'f038',
      shuffle        : 'f039',
      repeat         : 'f03a',
      folder         : 'f03b',
      umbrella       : 'f03c',
      moon           : 'f03d',
      thermometer    : 'f03e',
      drop           : 'f03f',
      sun            : 'f040',
      cloud          : 'f041',
      cloud-upload   : 'f042',
      cloud-download : 'f043',
      upload         : 'f044',
      download       : 'f045',
      location       : 'f046',
      location-2     : 'f047',
      map            : 'f048',
      battery        : 'f049',
      head           : 'f04a',
      briefcase      : 'f04b',
      speech-bubble  : 'f04c',
      anchor         : 'f04d',
      globe          : 'f04e',
      box            : 'f04f',
      reload         : 'f050',
      share          : 'f051',
      marquee        : 'f052',
      marquee-plus   : 'f053',
      marquee-minus  : 'f054',
      tag            : 'f055',
      power          : 'f056',
      command        : 'f057',
      alt            : 'f058',
      esc            : 'f059',
      bar-graph      : 'f05a',
      bar-graph-2    : 'f05b',
      pie-graph      : 'f05c',
      star           : 'f05d',
      arrow-left     : 'f05e',
      arrow-right    : 'f05f',
      arrow-up       : 'f060',
      arrow-down     : 'f061',
      volume         : 'f062',
      mute           : 'f063',
      content-right  : 'f064',
      content-left   : 'f065',
      grid           : 'f066',
      grid-2         : 'f067',
      columns        : 'f068',
      loader         : 'f069',
      bag            : 'f06a',
      ban            : 'f06b',
      flag           : 'f06c',
      trash          : 'f06d',
      expand         : 'f06e',
      contract       : 'f06f',
      maximize       : 'f070',
      minimize       : 'f071',
      plus           : 'f072',
      minus          : 'f073',
      check          : 'f074',
      cross          : 'f075',
      move           : 'f076',
      delete         : 'f077',
      menu           : 'f078',
      archive        : 'f079',
      inbox          : 'f07a',
      outbox         : 'f07b',
      file           : 'f07c',
      file-add       : 'f07d',
      file-subtract  : 'f07e',
      help           : 'f07f',
      open           : 'f080',
      ellipsis       : 'f081',
    )
  )
);
