// ==================================================
// pepagis-helper
// ==================================================
@import "_pepagis-colors";

@mixin pe-glyph($webfont-id, $glyph-name) {
  @each $id, $data in $g-webfonts {
    @if $id == $webfont-id {
      $name       : map-get($data, name);
      $glyphs     : map-get($data, glyphs);
      $glyph-code : map-get($glyphs, $glyph-name);
      
      font-family: $name;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      -webkit-font-smoothing: antialiased;
      text-transform: none;
      speak: none;
      content: #{'"' + '\\' + $glyph-code + '"'};
    }
  }
}
