@charset "utf-8";
@import "_core/_core";
@import "_config/_config";

/*
---
name: Project-SHO
framework:
  - Project-SHO
---

Project-SHO is @sho CSS Framework.

（このフレームワークに関する思いの丈を書く）

*/

/*
---
name: Foundation
framework:
  - Project-SHO/Foundation
---

Foundation 関連の注意事項とか（あればここに書く）

*/
@import "application/foundation/_base";
@import "application/foundation/_preset";

/*
---
name: Layouts
framework:
  - Project-SHO/Layouts
---

Layouts 関連の注意事項とか（あればここに書く）

*/
// @import "application/layouts/_l-container";
// @import "application/layouts/_l-contents";

/*
---
name: Objects
framework:
  - Project-SHO/Objects
---

Objects 関連の注意事項とか（あればここに書く）

*/

/*
---
name: Components
framework:
  - Project-SHO/Objects/Components
---
*/
@import "application/objects/components/_c-alert";
@import "application/objects/components/_c-btn";
@import "application/objects/components/_c-btn-outline";
@import "application/objects/components/_c-well";
@import "application/objects/components/_c-input";
@import "application/objects/components/_c-label";

/*
---
name: Typography
framework:
  - Project-SHO/Objects/Typography
---
*/
@import "application/objects/typography/_headings";
@import "application/objects/typography/_text";

/*
---
name: Projects
framework:
  - Project-SHO/Objects/Projects
---
*/
// @import "application/objects/projects/_p-global-header";

/*
---
name: Utilities
framework:
  - Project-SHO/Objects/Utilities
---
*/
@import "application/objects/utilities/_u-clearfix";

