/*
---
name: headings
framework:
  - Project-SHO/Objects/Typography
  - Project-SHO/Objects/Typography/headings
---

```html
<h1>あいうえお</h1>
<h2>かきくけこ</h2>
<h3>さしすせそ</h3>
<h4>たちつてと</h4>
<h5>なにぬねの</h5>
<h6>はひふへほ</h6>
```

*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  a {
    color: $g-link-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: $g-hover-color;
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 2.4em;
  margin: .54em 0;
}

h2 {
  font-size: 2em;
  margin: .67em 0;
}

h3 {
  font-size: 1.75em;
  margin: .75em 0;
}

h4 {
  font-size: 1.5em;
  margin: .83em 0;
}

h5 {
  font-size: 1.3em;
  margin: .93em 0;
}

h6 {
  font-size: 1.17em;
  margin: 1em 0;
}


